extends layout

block content
	fieldset
		legend 채팅방 생성
		form(action="/room" method="post")
			div: input(name="title" placeholder="방 제목")
			div: input(name="max" placeholder="수용 인원" type="number" min="2" value="10")
			div: input(name="password" placeholder="비밀번호(없으면 공개방)" type="password")
			div: button(type="submit") 생성